*{margin: 0; padding: 0; box-sizing: border-box;}
.container{max-width: 1500px; margin-left: auto; margin-right: auto;}
.wrapper{padding-left: 1rem; padding-right: 1rem; padding-bottom: 1rem;}
@media (max-width: 767px){:root{font-size: 14px;}}
.mg-top{margin-top: 1rem;}
.mg-btm{margin-bottom: 1rem;}
.pd-top{padding-top: 1rem;}
.pd-btm{padding-bottom: 1rem;}

#card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: blue;
}

//Card
.card{
    height: 28rem;
    width: 15rem;
    margin: 0.5rem;
    box-shadow: 1px 1px 2px 1px grey;
    background: red;
    flex: 1 15%;
    //Card Image
    >:nth-child(1){
        height: 55%;
        background-image: url(images/product-2.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 12rem;
    }

    //Card Info
    >:nth-child(2){
        height: 45%; 
        .title{
            font-size: 0.9rem;
            font-family: sans-serif;
            font-weight: 100;
            padding: 0.6rem;
        }
        .price{
            text-align: center;
            font-family: sans-serif;
            font-weight: bold;
            font-size: 1.3rem;
            padding: 0.6rem;
        }
        
    }
}

.btn{  
    //z-index: 99; //This z-index will cause this element to go behind the ::before element even though it is higher.
    display: block;
    position: relative;
    text-decoration: none;
    text-align: center;
    padding: 0.6rem;
    font-family: sans-serif;
    font-weight: bold;
    color: #eee;
    background-color: blue;
    border-radius: 4px;
    user-select: none;
    transition: transform 200ms ease-in, background 300ms linear , box-shadow 100ms linear;
    &:hover{
        transform: scale(1.01, 1.01) translate(0, -1px);
        transform: translate(0, -1.5px); 
        box-shadow: 0 1px 2px -1px rgb(0, 0, 0);
        background: rgb(59, 120, 250);
    }
}

@media (max-width: 1400px){
    .card{flex: 1 20%;}
}

@media (max-width: 1000px){
    .card{flex: 1 27%;}
}

@media (max-width: 767px){
    .card{flex: 1 45%;}
    .wrapper{padding: 0.2rem;}
}

@media (max-width: 500px){
    .card{margin: 0.2rem;}
}




